@use "../../global-frontend-dependencies/global.scss";
@use "../../global-frontend-dependencies/mixins-variables.scss" as *;

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    @media screen and (min-width: $mobile-width) {
        display: flex;
        align-items: center;
    }
}

.main-container {
    background-color: $background-secondary;
    padding: 20px;
    border-radius: $border-radius;
    margin-right: auto;
    margin-left: auto;

    max-width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1rem;

    @media screen and (max-width: $mobile-width) {
        max-width: 600px;
        flex-direction: column;
    }

    .header {
        text-align: center;
        margin: 10px 0;
        margin-bottom: 20px;
        font-weight: bold;
        max-width: 350px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        img {
            max-width: 70%;
            border-radius: $border-radius;
        }
    }
    .create-account {
        @include linkButton();
        @include backgroundColorButton($bccent-color);
        @include buttonIcon(0.5rem);
        font-size: 1.25rem;
        text-align: center;
    }

    .logout-button {
        @include linkButton();
        @include backgroundColorButton($bccent-color);
        @include buttonIcon(0.5rem);
        font-size: 1.25rem;
        text-align: center;
    }

    .login-option-choice-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 300px;
        width: 300px;

        .login-option {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            width: 100%;
            flex-grow: 1;
            line-height: 2.5rem;
            font-size: 1.5rem;
            cursor: pointer;
            border-radius: 4px;
            padding: 0.5rem;
            border: 1px solid var(--border-color);
            color: var(--foreground-primary);

            iconify-icon {
                align-self: flex-end;
            }
            span {
                flex-grow: 1;
                text-align: left;
            }

            background-color: var(--background-secondary);
            &:hover {
                background-color: var(--background-secondary-hover);
            }
            &:active {
                background-color: var(--background-secondary-active);
            }
        }
    }

    .login-option-container {
        text-align: center;
        margin: 10px 0;
        margin-bottom: 20px;
        font-weight: bold;
        max-width: 350px;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        display: none;
        &.visible {
            display: flex;
        }

        span {
            color: var(--foreground-primary-hover);
            font-size: 1.2rem;
            text-align: center;
            display: block;
            font-style: italic;
        }

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.5rem;

            label {
                max-width: 300px;
            }

            input {
                margin: 0;
            }
            button {
                @include backgroundColorButton(orange);
            }
        }

        .back-to-login-options {
            @include linkButton();
            @include backgroundColorButton($bccent-color);
            @include buttonIcon(0.5rem);
            font-size: 1.25rem;
            text-align: center;
        }
    }

    .logged-in-container {
        text-align: center;
        margin: 10px 0;
        margin-bottom: 20px;
        font-weight: bold;
        max-width: 350px;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        min-width: 250px;

        display: none;
        &.visible {
            display: flex;
        }
    }

    .connect {
        @include linkButton();
        @include backgroundColorButton(#7289da);
        @include buttonIcon(0.5rem);

        text-align: center;
        font-size: 1.5rem;
        padding: 1rem;
    }
}
